<VirtualHost *:80>
ProxyRequests on
<Proxy balancer://webcluster >
  
    BalancerMember http://18.133.220.98
    BalancerMember http://18.170.35.127

    ProxySet lbmethod=byrequests
</Proxy>

# Optional
<Location /balancer-manager>
  SetHandler balancer-manager
</Location>

ProxyPass /balancer-manager !
ProxyPass / balancer://webcluster/
</VirtualHost>
